

body{
	margin:0 ;
	font-family: raleway,sans-serif ;
	color: #0065FC;
	
	
}




nav{
	display: flex;
	justify-content: space-between;
	
}
nav img{	
	margin-left: 30px;
	margin-top: 20px;
	height: 30px
	
}
nav ul{
	display: flex;
	list-style: none;
	margin-top: 25px;
	font-size: 12px;
}
nav li{
	
	margin: 0 15px 0 20px;


}

      /*main*/

h1{
	font-size: 15px;
	margin-left: 33px;
	margin-bottom: 0px;
	color: #000;
}

.entete p {
	font-size: 11px;
	margin-left: 33px;
	margin-top: 0px;
	color: #000;
}

i{
	margin-left: 40px;
	margin-right: 20px;
}
#formulaire{
	height: 20px;
}

.recherche{
	display: flex;
}
label{
	margin-left: 20px;
}


	
}
#filtres{
	display: flex;
}

#filtres  {
	

	margin-top: 20px;

	font-size: 15px;
	font-weight: bold;
	display: flex;
}
.bouton {
	color: #0065FC;
	display: flex;
	
	
}
.bouton img	{
	height: 20px;
	
}


.commentaire{
	display: flex;
}


		/*HEBERGEMENT-VILLE-CHOISI*/
                 


.hotel{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

}




.hebergements-ville-choisi{

	
	width: 65%;
	background-color:#F2F2F2;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	
}

h2{	
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}


.tous-les-hotels{
	
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	
	
}


	
.choix-hotel{

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	


}
a:link{
	text-decoration: none;
}



h3{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 15px;
	color: #000;
	

}
.prix-hotel{
	
	
	font-size: 10px;
	color: #000;


}

.description-hotel img{
	height: 110px;
	width: 210px;
	
}

.etoile {

	list-style: none;
	color: #0065FC;
	
	display: flex;
	align-items: flex-start;
	
}	
	
.etoile li{
	width: 20px;
	

	
	
}

p{
	color: #000;
}


        /* LES-PLUS-POPULAIRES */

.les-plus-populaires{
	width: 35%;
	height: ;
	background-color: #F2F2F2;
	display: flex;

	flex-direction: column;
	flex-wrap: wrap;


}
.populaires-titre{
	display: flex;
}
.description-hotel-pop{
	margin-left: 20px;
	display: flex;
	background-color: white;


	
	
}
.description-hotel-pop img{
	height: 100px;
	width: 100px;
}

.description-pop{
	display: flex;
	flex-direction: column;
}

		/* ACTIVITE */



.choix-activite{
	display: flex;
	align-content: space-around;
}
.activite{
	display: flex;
	flex-direction: column;

}

.activite img{
	height: 50%;
	width: 50%;
}
.activite-grand img{
	height: 100%;
	width: 70%;
}